body {
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  overflow-x: hidden;
  box-sizing: border-box;
  /* background: #dfaa46; */
}
.text-center {
  /* color: #dd674b; */
  font-size: 3rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  justify-content: ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
